<launch>
<env name="GAZEBO_MODEL_PATH" value="$(find edge_brush)/models"/>
<env name="GAZEBO_RESOURCE_PATH" value="$(find edge_brush)/models"/>
<param name="/use_sim_time" value="true"/>
<rosparam file="$(find edge_brush)/config/rsparams.yaml" command="load" />
<!-- <node pkg="rosbag" name="rosbag" type="play" args="/home/eric/data/edge.bag"/> -->
<node pkg="edge_brush" name="transCloud" type="transCloud" output="screen"/>
<node pkg="edge_brush" name="groundFilter" type="groundFilter" output="screen"/>
<node pkg="edge_brush" name="rsedgeDetection" type="rsedgeDetection" output="screen"/>
<node pkg="edge_brush" name="pid_control_node" type="pidControl" output="screen"/>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find edge_brush)/config/rslidar.rviz" />
</launch>